<header>
    <nav class="header-nav">
        <a class="header-title" href="/"> TASKS </a>
        <ul>
            <li><a href="/dailies">Dailies</a></li>
            <li><a href="/todo">TO-DO</a></li>
        </ul>
    </nav>
</header>

