:root{
    --color-base-hue: 270;
    --color-color-opposite: calc(var(--color-base-hue) - 180);

    --color-background-dark: hsl(var(--color-base-hue), 100% , 8%);
    --color-background-light: hsl(var(--color-base-hue), 100% , 16%);
    --color-text-light: hsl(var(--color-base-hue), 100% , 90%);
    --color-text-dark: hsl(var(--color-base-hue), 100% , 60%);

    --color-btn-primary-background: hsl(var(--color-base-hue), 100%, 83%);
    --color-btn-primary-text: hsl(var(--color-base-hue), 100%, 20%);
    --color-btn-primary-background-hover: hsl(var(--color-base-hue), 100%, 73%);
    --color-btn-primary-text-hover: hsl(var(--color-base-hue), 100%, 10%);

    --color-btn-danger-background: hsl(45, 100%, 53%);
    --color-btn-danger-background-hover: hsl(10, 100%, 63%);
    --color-btn-danger-text: hsl(var(--color-color-opposite), 100%, 20%);

    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;

    --form-label-font-size: 1.2rem;
    --form-input-border: hsl(var(--color-base-hue), 100%, 31%);
    --form-input-background: hsl(var(--color-base-hue), 100%, 50%);
    --form-input-border-focus: hsl(var(--color-base-hue), 100%, 80%);
    --color-placeholder-light: hsl(var(--color-base-hue), 100%, 75%);
}