<h2 class="page-header">Daily Tasks</h2>

<div>
    <%- include('../partials/tasks', {tasks: task, url: `/` }) %>
<div>

<% if(task.length > 0 ){ %>
    <br>
    <div class="form-row-end btn-row">
        <form action="/?_method=PUT" method="POST">
            <button class="btn btn-primary" type="submit"> Uncheck All </button>
        </form>
    </div>
<% } %>
